# Outputs / runs
runs/
results/
work/
nx_work/
.nxf/

# Databases (often huge)
localDB/
rgi_db/
database.kraken/
database250mers.kraken/
database250mers.kmer_distrib/
datasets/

# Logs / job outputs
logs/
*.out
*.err
*.log
*.sbatch

# OS/editor junk
.DS_Store
*.swp

# Validation outputs (generated)
validation/outputs/
*.fastq
*.fq
*.fna
*.faa
*.sra
