params {
    outdir = "results"

    // ART simulation parameters (ADD THESE)
    art_read_length = 150
    art_frag_mean   = 200
    art_frag_std    = 10
    art_seq_sys     = "HS25"
}

process {
    cpus = 2
    memory = '4 GB'
    time = '2h'
}

profiles {
    standard {
        process.executor = 'local'
    }

    acres {
        process.executor = 'slurm'
        process.queue = 'batch'
    }
}
